{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    {% if posts %}
        POSTS<br/>
        {% for post in posts %}
            Title: {{ post.title }}<br/>
            Date: {{ post.creationdate }}<br/>
            Content: {{ post.content }}<br/>
        {% endfor %}
    {% else %}
        SINGLE<br/>
        Id: {{ post.id }}<br/>
        Title: {{ post.title }}<br/>
        Date: {{ post.creationdate }}<br/>
        Content: {{ post.content }}<br/>
    {% endif %}
{% endblock %}